<%- include("../_header1"); -%>
<br>
<br>
<body>
    <h1 align="center">แก้ไขข้อมูล</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">   
            <form method="post" action="/donateplace/edit/<%= data.id %>" class="w-50">
                <div class="form-group">
                    <label for="place">ชื่อสถานที่:</label>
                    <input type="text" class="form-control" id="place" Name="place" value="<%= data.place %>" required>
                </div>
                <div class="form-group">
                    <label for="address">ที่อยู่:</label>
                    <input type="text" class="form-control" id="address" Name="address" value="<%= data.address %>" required>
                </div>
                <div class="form-group">
                    <label for="contactperson">ผู้ติดต่อ:</label>
                    <input type="text" class="form-control" id="contactperson" Name="contactperson" value="<%= data.contactperson %>" required>
                </div>
                <div class="form-group">
                    <label for="phone">เบอร์:</label>
                    <input type="text" class="form-control" id="phone" Name="phone" value="<%= data.phone %>" required>
                </div>
                <br>
                <a href="/donateplace/list" class="btn btn-danger">ย้อนกลับ</a>
                <button type="submit" class="btn btn-success">บันทึก</button>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>