<%- include("../_header1"); -%>
<br>
<br>
<h1 align="center">ประเภทอุปกรณ์</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-15">
            <a href="/devicetype/add" class="btn btn-primary">เพิ่มข้อมูล</a>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>รายการอุปกรณ์</th>
                        <th>เพิ่มเติม</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].name %></td>
                                <td>
                                    <a href="/devicetype/edit/<%= data[i].id %>" class="btn btn-success" style="width: 80px;">แก้ไข</a>
                                    <a href="/devicetype/delete/<%= data[i].id %>" class="btn btn-danger">ลบข้อมูล</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("../_footer"); -%>
