<%- include("../_header"); -%>
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <!-- <%=JSON.stringify(data1) %>
            <%=JSON.stringify(data1) %> -->
            <form action="/Udeliveryperson/add" method="post">
                <div class="form-group">
                    <label for="prepare">สถานที่</label>
                    <input type="text" name="prepare" placeholder="สถานที่บริจาค" class="form-control">
                </div>
                <br>
                <br>
                <label for="name"> รายชื่อ </label>
                <select class="form-control" name="name">
                    <option> กรุณาเลือก </option>
                    <% if(data2){ %>
                        <% for(var i=0;i<data2.length;i++){ %>
                            <option value="<%= data2[i].id %>"> <%= data2[i].name %> </option>
                        <% } %>
                    <% } %>        
                </select>
                <br>
                <button type="submit" class="btn btn-primary">บันทึก </button>
                <a href="/Udeliveryperson/list" class="btn btn-danger">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("../_footer"); -%>